[Match]
Name=mgmt0

[Network]
DHCP=no
IPv6AcceptRA=no
LinkLocalAddressing=no
Address=192.168.16.2
Gateway=192.168.16.1
DNS=192.168.16.1
DNS=8.8.8.8
DNS=8.8.4.4
