variable "instance_name" {
  description = "The Ensign Subdomain"
  default     = "{{ lookup('env', 'ccioEnsign_domainSub') }}"
}

variable "base_domain" {
  description = "The Ensign Base Domain"
  default     = "{{ lookup('env', 'ccioEnsign_domainBase') }}"
}

variable "project_name" {
  description = "The Cloud Provider Project ID Target"
  default     = "{{ lookup('env', 'ccioEnsign_nameGcpProject') }}"
}

variable "hostname" {
  description = "Ensign FQDN"
  default     = "{{ lookup('env', 'ccioEnsign_domainFqdn') }}"
}

variable "instance_os" {
  default = "centos-cloud/centos-8"
 #default = "ubuntu-os-cloud/ubuntu-2004-lts"
}

variable "ensign_type" {
  description = "Ensign Instance Type"
  default     = "{{ lookup('env', 'ccioEnsign_instanceGcpType') }}"
}

variable "region" {
  description = "Cloud Provider Region"
  default     = "{{ lookup('env', 'ccioEnsign_regionGcpRegion') }}"
}
